.sidebar{
    width: 35%;
    background-color: #f6f6f6;
    height: calc(100vh -  63px);
}
.sidebar ul{
    list-style: none;
}
.sidebar li a{
    margin-bottom: 10px;
    font-size: 18px;
    text-decoration: none;
    display: block;
     color: #333;
    padding: 7px;

}